name: Commit Environment

on:
  push:
    branches: [ master ]
    paths-ignore: 'README.md'
  workflow_dispatch:
   
env:
  # Change these values if you have forked it for your own works
  GitHubMail: "jasonbright2709@gmail.com"
  GitHubName: "Chatur27" 

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - name: Set Git Configs & Secrets
        run: |
          git config --global user.email ${GitHubMail}
          git config --global user.name ${GitHubName}
          git config --global credential.helper store
          echo "https://${GitHubName}:${{ secrets.GH_TOKEN }}@github.com" > ~/.git-credentials

      - name: Loop Workflow
        continue-on-error: true
        run: |
          git clone https://github.com/Chatur27/commits.git /home/runner/work/gay/
          cd /home/runner/work/gay
          source looper.sh

